
.symbol {
    font-size: 2rem;
}
.vote-mark {
    color: #8B1C3D;
    font-size: 2rem;
    font-weight: bold;
}
.confirm-btn {
    background-color: #f4b63f;
    color: #8B1C3D;
    font-weight: bold;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
}
.ballot-container {
    max-height: 500px;
    overflow-y: auto;
    border: 5px solid #ccc;
    border-radius: 10px;
}
.table-hover tbody tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}
